:root {
  --clr-blue: #0177b5;
}

.container {
  min-width: 250px !important;
  font: bolder;
  border: 2px solid var(--clr-blue);
  border-radius: 5px;
}

.applications:hover {
  color: var(--clr-blue) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.hide {
  display: none !important;
}
