:root {
  --clr-blue: #0177b5;
  --clr-red: #dc3545;
}

.container {
  min-width: 250px !important;
  font: bolder;
  border: 2px solid var(--clr-blue);
  border-radius: 5px;
}

.applications:hover {
  color: var(--clr-blue) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.hide {
  display: none !important;
}

.btn-delete {
  border: none;
  background: var(--clr-red);
  color: white;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: xx-small;
}

.btn-delete:hover {
  background: #ff0000;
  cursor: pointer;
}
